import /vendor/etc/init/hw/init.mt8163.power.rc
import /vendor/etc/init/hw/init.mt8163.usb.rc
import /vendor/etc/init/hw/init.sensor_1_0.rc
import /vendor/etc/init/hw/init.target.rc

on early-init
    # Mount debugfs
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug

    # Loading kernel modules in background
    start vendor.insmod_sh

on init
    # Change ION driver permission
    chmod 0666 /dev/ion

    # increase sysctl_rmem_max and sysctl_wmem_max values to 2M
    write /proc/sys/net/core/wmem_max 8388608
    write /proc/sys/net/core/rmem_max 8388608

    # Create symlinks for kb and dkb
    symlink /dev/block/platform/soc/11230000.mmc/by-name/kb /dev/kb
    symlink /dev/block/platform/soc/11230000.mmc/by-name/dkb /dev/dkb

on fs
    mount_all /vendor/etc/fstab.mt8163 --early

on late-fs
    # Mount RW partitions which need run fsck
    mount_all /vendor/etc/fstab.mt8163 --late

on post-fs-data
    # give system access to rfkill device node
    chmod 0660 /dev/rfkill

    # Mali 3D GPU driver
    chmod 0666 /dev/mali0

    # Touch Panel
    chown root diag /sys/module/tpd_setting/parameters/tpd_calmat
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_debounce_time
    chown root diag /sys/module/tpd_setting/parameters/tpd_mode
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_debounce_time0
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_debounce_time1
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_spl_num
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_pressure_threshold
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_auto_time_interval
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_sample_cnt
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_asamp
    chown root diag /sys/module/tpd_debug/parameters/tpd_em_log
    chown root diag /sys/module/tpd_debug/parameters/tpd_em_log_to_fs

    # M4U
    chmod 0444 /dev/m4u
    chmod 0640 /proc/m4u
    chown system media /proc/m4u

    # Set mlock resource to unlimited
    setrlimit 8 4294967295 4294967295

    # set mlock limit to infinate (for m4u operation)
    setrlimit 8 -1 -1

    # CMDQ
    chmod 0644 /dev/mtk_cmdq
    chown system system /dev/mtk_cmdq

    # MDP SYNC
    chmod 0660 /dev/mdp_sync
    chown system system /dev/mdp_sync

    # VideoCodec
    chmod 0660 /dev/Vcodec
    chown media system /dev/Vcodec

    # Display
    chmod 0660 /dev/graphics/fb0
    chown system graphics /dev/graphics/fb0

    chmod 0660 /dev/mtk_disp_mgr
    chown system graphics /dev/mtk_disp_mgr

    chmod 0660 /dev/mtkfb_vsync
    chown system graphics /dev/mtkfb_vsync

    chmod 0660 /dev/sw_sync
    chown system graphics /dev/sw_sync

    # device info /proc interface
    chmod 0444 /dev/devmap
    chown root media /dev/devmap

    # Camera
    chmod 0660 /dev/camera-sysram
    chmod 0660 /dev/camera-isp
    chmod 0660 /dev/camera-fdvt
    chmod 0660 /dev/camera-pipemgr
    chmod 0660 /dev/kd_camera_hw
    chmod 0660 /dev/flashlight
    chmod 0660 /dev/kd_camera_hw_bus2
    chmod 0660 /dev/FM50AF
    chmod 0660 /dev/DW9718AF
    chmod 0660 /dev/CAM_CAL_DRV

    chown system camera /dev/camera-sysram
    chown system camera /dev/camera-isp
    chown system camera /dev/camera-fdvt
    chown system camera /dev/camera-pipemgr
    chown system camera /dev/kd_camera_hw
    chown system camera /dev/flashlight
    chown system camera /dev/kd_camera_hw_bus2
    chown system camera /dev/FM50AF
    chown system camera /dev/DW9718AF
    chown system camera /dev/CAM_CAL_DRV

    # SMI
    chmod 0660 /dev/MTK_SMI
    chown media media /dev/MTK_SMI

    # Thermal
    mkdir /data/vendor/.tp/ 0775 system system

    # Sensor
    chmod 0660 /dev/hwmsensor
    chmod 0660 /dev/msensor
    chmod 0660 /dev/gsensor
    chmod 0660 /dev/als_ps
    chmod 0660 /dev/gyroscope
    chmod 0660 /dev/aal_als
    chmod 0660 /dev/humidity
    chmod 0660 /dev/barometer
    chmod 0660 /dev/m_als_misc
    chmod 0660 /dev/m_baro_misc
    chmod 0660 /dev/m_hmdy_misc
    chmod 0660 /dev/m_ps_misc
    chmod 0660 /dev/m_acc_misc
    chmod 0660 /dev/m_mag_misc
    chmod 0660 /dev/m_gyro_misc
    chmod 0660 /dev/m_act_misc
    chmod 0660 /dev/m_pedo_misc
    chmod 0660 /dev/m_situ_misc
    chmod 0660 /dev/m_step_c_misc
    chmod 0660 /dev/m_fusion_misc
    chmod 0660 /dev/m_bio_misc

    chown system system /dev/hwmsensor
    chown system system /dev/msensor
    chown radio system /dev/gsensor
    chown radio system /dev/als_ps
    chown radio system /dev/gyroscope
    chown system system /dev/aal_als
    chown system system /dev/humidity
    chown system system /dev/barometer
    chown system system /dev/m_als_misc
    chown system system /dev/m_baro_misc
    chown system system /dev/m_hmdy_misc
    chown system system /dev/m_ps_misc
    chown system system /dev/m_acc_misc
    chown system system /dev/m_mag_misc
    chown system system /dev/m_gyro_misc
    chown system system /dev/m_act_misc
    chown system system /dev/m_pedo_misc
    chown system system /dev/m_situ_misc
    chown system system /dev/m_step_c_misc
    chown system system /dev/m_fusion_misc
    chown system system /dev/m_bio_misc

    chmod 0660 /sys/class/sensor/m_acc_misc/accenablenodata
    chmod 0660 /sys/class/sensor/m_acc_misc/accactive
    chmod 0660 /sys/class/sensor/m_acc_misc/accdelay
    chmod 0660 /sys/class/sensor/m_acc_misc/accbatch
    chmod 0660 /sys/class/sensor/m_acc_misc/accflush
    chmod 0660 /sys/class/sensor/m_acc_misc/acccali
    chown system system /sys/class/sensor/m_acc_misc/accenablenodata
    chown system system /sys/class/sensor/m_acc_misc/accactive
    chown system system /sys/class/sensor/m_acc_misc/accdelay
    chown system system /sys/class/sensor/m_acc_misc/accbatch
    chown system system /sys/class/sensor/m_acc_misc/accflush
    chown system system /sys/class/sensor/m_acc_misc/acccali

    chmod 0660 /sys/class/sensor/m_mag_misc/magactive
    chmod 0660 /sys/class/sensor/m_mag_misc/magdelay
    chmod 0660 /sys/class/sensor/m_mag_misc/magbatch
    chmod 0660 /sys/class/sensor/m_mag_misc/magflush
    chmod 0660 /sys/class/sensor/m_mag_misc/magcali
    chmod 0660 /sys/class/sensor/m_mag_misc/maglibinfo
    chown system system /sys/class/sensor/m_mag_misc/magactive
    chown system system /sys/class/sensor/m_mag_misc/magdelay
    chown system system /sys/class/sensor/m_mag_misc/magbatch
    chown system system /sys/class/sensor/m_mag_misc/magflush
    chown system system /sys/class/sensor/m_mag_misc/magcali
    chown system system /sys/class/sensor/m_mag_misc/maglibinfo

    chmod 0660 /sys/class/sensor/m_gyro_misc/gyroenablenodata
    chmod 0660 /sys/class/sensor/m_gyro_misc/gyroactive
    chmod 0660 /sys/class/sensor/m_gyro_misc/gyrodelay
    chmod 0660 /sys/class/sensor/m_gyro_misc/gyrobatch
    chmod 0660 /sys/class/sensor/m_gyro_misc/gyroflush
    chmod 0660 /sys/class/sensor/m_gyro_misc/gyrocali
    chown system system /sys/class/sensor/m_gyro_misc/gyroenablenodata
    chown system system /sys/class/sensor/m_gyro_misc/gyroactive
    chown system system /sys/class/sensor/m_gyro_misc/gyrodelay
    chown system system /sys/class/sensor/m_gyro_misc/gyrobatch
    chown system system /sys/class/sensor/m_gyro_misc/gyroflush
    chown system system /sys/class/sensor/m_gyro_misc/gyrocali

    chmod 0660 /sys/class/sensor/m_als_misc/alsactive
    chmod 0660 /sys/class/sensor/m_als_misc/alsdelay
    chmod 0660 /sys/class/sensor/m_als_misc/alsbatch
    chmod 0660 /sys/class/sensor/m_als_misc/alsflush
    chmod 0660 /sys/class/sensor/m_ps_misc/psactive
    chmod 0660 /sys/class/sensor/m_ps_misc/psdelay
    chmod 0660 /sys/class/sensor/m_ps_misc/psbatch
    chmod 0660 /sys/class/sensor/m_ps_misc/psflush
    chown system system /sys/class/sensor/m_als_misc/alsactive
    chown system system /sys/class/sensor/m_als_misc/alsdelay
    chown system system /sys/class/sensor/m_als_misc/alsbatch
    chown system system /sys/class/sensor/m_als_misc/alsflush
    chown system system /sys/class/sensor/m_ps_misc/psactive
    chown system system /sys/class/sensor/m_ps_misc/psdelay
    chown system system /sys/class/sensor/m_ps_misc/psbatch
    chown system system /sys/class/sensor/m_ps_misc/psflush

    chmod 0660 /sys/class/sensor/m_baro_misc/baroenablenodata
    chmod 0660 /sys/class/sensor/m_baro_misc/baroactive
    chmod 0660 /sys/class/sensor/m_baro_misc/barodelay
    chmod 0660 /sys/class/sensor/m_baro_misc/barobatch
    chmod 0660 /sys/class/sensor/m_baro_misc/baroflush
    chown system system /sys/class/sensor/m_baro_misc/baroenablenodata
    chown system system /sys/class/sensor/m_baro_misc/baroactive
    chown system system /sys/class/sensor/m_baro_misc/barodelay
    chown system system /sys/class/sensor/m_baro_misc/barobatch
    chown system system /sys/class/sensor/m_baro_misc/baroflush

    chmod 0660 /sys/class/sensor/m_hmdy_misc/hmdyenablenodata
    chmod 0660 /sys/class/sensor/m_hmdy_misc/hmdyactive
    chmod 0660 /sys/class/sensor/m_hmdy_misc/hmdydelay
    chmod 0660 /sys/class/sensor/m_hmdy_misc/hmdybatch
    chmod 0660 /sys/class/sensor/m_hmdy_misc/hmdyflush

    chown system system /sys/class/sensor/m_hmdy_misc/hmdyenablenodata
    chown system system /sys/class/sensor/m_hmdy_misc/hmdyactive
    chown system system /sys/class/sensor/m_hmdy_misc/hmdydelay
    chown system system /sys/class/sensor/m_hmdy_misc/hmdybatch
    chown system system /sys/class/sensor/m_hmdy_misc/hmdyflush

    chmod 0660 /sys/class/sensor/m_pedo_misc/pedoactive
    chmod 0660 /sys/class/sensor/m_pedo_misc/pedodelay
    chmod 0660 /sys/class/sensor/m_pedo_misc/pedobatch
    chmod 0660 /sys/class/sensor/m_pedo_misc/pedoflush
    chown system system /sys/class/sensor/m_pedo_misc/pedoactive
    chown system system /sys/class/sensor/m_pedo_misc/pedodelay
    chown system system /sys/class/sensor/m_pedo_misc/pedobatch
    chown system system /sys/class/sensor/m_pedo_misc/pedoflush

    chmod 0660 /sys/class/sensor/m_situ_misc/situactive
    chmod 0660 /sys/class/sensor/m_situ_misc/situdelay
    chmod 0660 /sys/class/sensor/m_situ_misc/situbatch
    chmod 0660 /sys/class/sensor/m_situ_misc/situflush
    chown system system /sys/class/sensor/m_situ_misc/situactive
    chown system system /sys/class/sensor/m_situ_misc/situdelay
    chown system system /sys/class/sensor/m_situ_misc/situbatch
    chown system system /sys/class/sensor/m_situ_misc/situflush

    chmod 0660 /sys/class/sensor/m_act_misc/actactive
    chmod 0660 /sys/class/sensor/m_act_misc/actdelay
    chmod 0660 /sys/class/sensor/m_act_misc/actbatch
    chmod 0660 /sys/class/sensor/m_act_misc/actflush
    chown system system /sys/class/sensor/m_act_misc/actactive
    chown system system /sys/class/sensor/m_act_misc/actdelay
    chown system system /sys/class/sensor/m_act_misc/actbatch
    chown system system /sys/class/sensor/m_act_misc/actflush

    chmod 0660 /sys/class/sensor/m_step_c_misc/step_cactive
    chmod 0660 /sys/class/sensor/m_step_c_misc/step_cdelay
    chmod 0660 /sys/class/sensor/m_step_c_misc/step_cbatch
    chmod 0660 /sys/class/sensor/m_step_c_misc/step_cflush
    chown system system /sys/class/sensor/m_step_c_misc/step_cactive
    chown system system /sys/class/sensor/m_step_c_misc/step_cdelay
    chown system system /sys/class/sensor/m_step_c_misc/step_cbatch
    chown system system /sys/class/sensor/m_step_c_misc/step_cflush

    chmod 0660 /sys/class/sensor/m_fusion_misc/fusionactive
    chmod 0660 /sys/class/sensor/m_fusion_misc/fusiondelay
    chmod 0660 /sys/class/sensor/m_fusion_misc/fusionbatch
    chmod 0660 /sys/class/sensor/m_fusion_misc/fusionflush
    chown system system /sys/class/sensor/m_fusion_misc/fusionactive
    chown system system /sys/class/sensor/m_fusion_misc/fusiondelay
    chown system system /sys/class/sensor/m_fusion_misc/fusionbatch
    chown system system /sys/class/sensor/m_fusion_misc/fusionflush

    chmod 0660 /sys/class/sensor/m_bio_misc/bioactive
    chmod 0660 /sys/class/sensor/m_bio_misc/biodelay
    chmod 0660 /sys/class/sensor/m_bio_misc/biobatch
    chmod 0660 /sys/class/sensor/m_bio_misc/bioflush
    chown system system /sys/class/sensor/m_bio_misc/bioactive
    chown system system /sys/class/sensor/m_bio_misc/biodelay
    chown system system /sys/class/sensor/m_bio_misc/biobatch
    chown system system /sys/class/sensor/m_bio_misc/bioflush

    # Encrypt phone function
    setprop vold.post_fs_data_done 1

on early-boot
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi
    mkdir /data/vendor/bluedroid 0771 bluetooth bluetooth

    # wait for insmod_sh to finish all modules
    wait_for_prop sys.all.modules.ready 1

on boot
    chmod 0660 /sys/power/autosleep

    chmod 0664 /sys/class/leds/lcd-backlight/brightness

    chown system system /sys/devices/system/cpu/cpufreq/hotplug/cpu_num_base
    chmod 0660 /sys/devices/system/cpu/cpufreq/hotplug/cpu_num_base

    chown system /sys/module/mlog/parameters/do_mlog
    chown system /sys/module/mlog/parameters/timer_intval

    chown root   radio  /sys/class/leds/lcd-backlight/duty
    chown root   radio  /sys/class/leds/lcd-backlight/div
    chown system system /sys/class/leds/lcd-backlight/trigger
    chown system system /sys/class/leds/button-backlight/trigger
    chown system system /sys/class/leds/keyboard-backlight/trigger
    chown system system /sys/class/leds/jogball-backlight/trigger
    chown system system /sys/class/leds/red/trigger
    chown system system /sys/class/leds/green/trigger
    chown system system /sys/class/leds/blue/trigger

    chown system system /sys/kernel/debug/ged/hal/fps_upper_bound
    chmod 0660 /sys/kernel/debug/ged/hal/fps_upper_bound
    chown system system /sys/kernel/debug/ged/hal/vsync_offset_level
    chmod 0660 /sys/kernel/debug/ged/hal/vsync_offset_level
    chown system system /sys/kernel/debug/ged/hal/event_notify
    chmod 0660 /sys/kernel/debug/ged/hal/event_notify
    chown system system /sys/kernel/debug/ged/hal/custom_upbound_gpu_freq
    chmod 0660 /sys/kernel/debug/ged/hal/custom_upbound_gpu_freq
    chown system system /sys/kernel/debug/ged/hal/custom_boost_gpu_freq
    chmod 0660 /sys/kernel/debug/ged/hal/custom_boost_gpu_freq

    # HMP CPU hotplug strategy
    chown system system /proc/hps/num_base_perf_serv
    chmod 0660 /proc/hps/num_base_perf_serv
    chown system system /proc/hps/num_limit_power_serv
    chmod 0660 /proc/hps/num_limit_power_serv

    # CPU freq
    chown system system /proc/cpufreq/cpufreq_limited_by_hevc
    chmod 0660 /proc/cpufreq/cpufreq_limited_by_hevc
    chown system system /proc/cpufreq/cpufreq_limited_max_freq_by_user
    chmod 0660 /proc/cpufreq/cpufreq_limited_max_freq_by_user

    stop console

on property:sys.conn_macs.ready=1
    # Bluetooth
    chown bluetooth bluetooth /data/vendor/bluedroid/macbt
    chmod 0666 /data/vendor/bluedroid/macbt

on property:vold.decrypt=trigger_reset_main
    setprop sys.boot_completed 0
    setprop dev.bootcomplete 0

on property:vold.decrypt=trigger_shutdown_framework
    setprop sys.boot_completed 0
    setprop dev.bootcomplete 0

service vendor.media.omx /vendor/bin/hw/android.hardware.media.omx@1.0-service
    override
    class main
    user mediacodec
    group camera drmrpc mediadrm media_rw sdcard_rw media system audio inet net_bt net_bt_admin net_bw_acct sdcard_r
    ioprio rt 4
    writepid /dev/cpuset/foreground/tasks

service vendor.insmod_sh /vendor/bin/init.insmod.sh
    class main
    user root
    group root system
    disabled
    oneshot
