on fs
    mkdir /dev/usb-ffs 0770 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000
    write /sys/class/android_usb/android0/f_ffs/aliases adb

    symlink /dev/block/platform/soc/11230000.mmc /dev/block/platform/mtk-msdc.0

on init
    setprop sys.usb.ffs.aio_compat 1
    setprop persist.adb.nonblocking_ffs 0
    setprop ro.adb.nonblocking_ffs 0

service amazon_init /system/bin/amazon_init
    oneshot
    seclabel u:r:recovery:s0
